<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biitprojectwaitingqueuesystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BIITProjectWaitingQueueSystem"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ProjectCommittee.Pq_ScheduleMeetings"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_stdMeetingInformation"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.qh_MeetingInformationfyp2"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.qh_meetings_fyp2"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.qh_meetings_fyp1"
            android:exported="true" />
        <activity
            android:name=".ProjectCommittee.Pq_Profile"
            android:exported="true" />
        <activity
            android:name=".ProjectCommittee.Pq_Addqh"
            android:exported="true" />
        <activity
            android:name=".ProjectCommittee.Pq_meetings"
            android:exported="true" />
        <activity
            android:name=".ProjectCommittee.Pq_AddMeetings"
            android:exported="true" />
        <activity
            android:name=".ProjectCommittee.Pq_Dashboard"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.Qh_Profile"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.Qh_MeetingInformation"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.Qh_MeetingSchedulessubDetails"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.Qh_MeetingschedulesDetails"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.Qh_MeetingSchedules"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_MeetingDetailsPage"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_Profile"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_Group_Members"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_Groups"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_History"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_MeetingsubDetails"
            android:exported="true" />
        <activity
            android:name=".Supervisor.Supervisor_Dashboard"
            android:exported="true" />
        <activity
            android:name=".QueueHandler.QueueHandler_Dashboard"
            android:exported="true" />
        <activity
            android:name=".Student.Student_AddRequestPage"
            android:exported="true" />
        <activity
            android:name=".Student.Student_HistoryPage"
            android:exported="true" />
        <activity
            android:name=".Student.Student_ProfilePage"
            android:exported="true" />
        <activity
            android:name=".Student.Student_MeetingInfoPage"
            android:exported="true" />
        <activity
            android:name=".Student.Student_Dashboard"
            android:exported="true" />
        <activity
            android:name=".Signup_Page"
            android:exported="true" />
        <activity
            android:name=".Login_Page"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>